*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html{
  font-size: 62.5%;
}
:root{
  --azul:#121f3d;
  --azulClaro:#33b1ff;
  --azulOscuro:#03091e;
  --green:#93c93d;
  --grey:#54565c;
  --contraste:#24385b;
}
body {
 background-color: var(--azul);
 font-family: 'Roboto', sans-serif; 
 width: 100vw;
 height: 100vh;
 overflow: hidden;
 user-select:none;
}
@media (min-width:1024px) {
  html{
    font-size: 70%;
  }
}

