.perspective-text {
    color: white;
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: -2px;
    text-transform: uppercase;
    height: 26rem;
    width: 30rem;

  }
  
  .perspective-line {
    height: 50px;
    width: 15rem;
    overflow: hidden;
    position: relative;
    margin: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .title_text {
    margin: 0;
    height: fit-content;
    line-height: 50px;
    transition: all 0.5s ease-in-out;
    width: 100%;
  }
  
  .perspective-line:nth-child(odd) {
    transform: skew(60deg, -30deg) scaleY(0.667);
  }
  
  .perspective-line:nth-child(even) {
    transform: skew(0deg, -30deg) scaleY(1.337);
  }
  
  .perspective-text:hover p {
    transform: translate(0, -50px);
  }
  
  .perspective-line:nth-child(1) {
    left: 29px;
  }
  
  .perspective-line:nth-child(2) {
    left: 58px;
    background: #468DFF;
  }
  
  .perspective-line:nth-child(3) {
    left: 87px;
    background: var(--green);
  }
  
  .perspective-line:nth-child(4) {
    left: 116px;
    background: #FFB25F;
  }
  
  .perspective-line:nth-child(5) {
    left: 145px;
  }
  @media (min-width:760px) {
    .perspective-text {
      margin:0 auto
    }
  }